nav{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50px;
    justify-content: space-evenly;

    text-decoration: none;
    color:rgb(32, 34, 36);
    
}

nav > a{
    color:rgb(32, 34, 36);
    text-decoration: none;
}

a:hover{
    color: gray;
}

footer{
    background-color: linear-gradient( rgb(243,227,238), rgb(254,238,249));
    color: rgb(32, 34, 36);
    height: 40vh;
    text-align: center;
   
}

.title{
    color: rgb(32, 34, 36);
}