nav{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50px;
    justify-content: space-evenly;

    text-decoration: none;
    color: black !important;
    
}

nav > a{
    color: black !important;
    text-decoration: underline; 
}

a:hover{
    color: gray !important;
}

footer{
    background-color: linear-gradient( rgb(243,227,238), rgb(254,238,249));
    height: 40vh;
    text-align: center;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
}


a{
    color: black;
    text-decoration: underline; 
}

.back-to-top{
    text-decoration: underline; 
}


.icon{
    height: 50px;
    width: 50px;
    margin: 0 auto;
    display: inline;
  }

.title{
    color: rgb(32, 34, 36);
}