.hero_nav{
  display: none;
}

.dfm-text{
  padding: 5px 25px;
}

.mobile-container{
  background-color: rgba(0, 0, 0, 0.863);  
  position: fixed;
  text-align: center;
  color: white; 
  width: 100%;
  z-index: 250;
}

.logo{
  font-size: 35px;
  text-decoration: none;
  color: white;
}


#toggle{
  display: none;
}

.hamburger{
  display: absolute;
  visibility: visible;
  margin-right: 25px;
  margin-left: 25px;
  height: 25px;
}

.hamburger:hover{
  cursor: pointer;
}

.nav-mobile{

  
  color: white;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  opacity: 1;

}

.nav-mobile nav ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-mobile nav ul li{
  margin-top: 55px;
}

.nav-mobile nav ul a{
  color: rgb(255, 255, 255);
  margin-top: 25px;
  font-weight: bolder;
}

.nav-mobile p{
  margin: 0;
}
.navbar{
  display: block;

}

.nav-btn{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#toggle:checked + .nav-mobile {
  display: flex;
  justify-content: center;

}


#toggle:checked + .mobile-container {
  display: absolute;
  visibility: hidden;
}

.logo{
  font-size: 35px;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font: 112.5%/1.45em georgia, serif, sans-serif;
    box-sizing: border-box;
    overflow-y: scroll;
    margin:0;
    height: 100%;
    background-color: black;
  }
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: hsla(0, 0%, 0%, 0.8);
    background-color: black;
    font-family: georgia, serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";

    font-size:1em;
    
  }

.hero-flex-container{
  background-color: black;
  color:white;
  padding-top:150px;
  height: 60vh;
 
}

.hero-image{
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/Hero_Image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 1;
    padding: 50px;
    text-align: center;
    justify-content: flex-start;
    align-items: space-around;
  }

.hero-image-two{
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/women-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    z-index: 1;
    padding: 50px;
    text-align: center;
    justify-content: flex-start;
    align-items: space-around;
}

.hero-image-three{
  display: flex;
  background-attachment: fixed;
  flex-direction: column;
  background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/SDH_8427.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  z-index: 1;
  padding: 50px;
  text-align: center;
  justify-content: flex-start;
  align-items: space-around;
}

.hero-big-text{
    font-size: 1.5em;
    color: white;
}

.hero_text{
    font-size: 1.1em;
    color: white;
}

.hero-text-bold{
  font-weight: bolder;
}

.mobile-hidden{
  visibility: hidden;
  display: none;
}

.qr-code{
  width: 15%;
  height: 15%;
  visibility: hidden;
  display: none;
}

.hero_nav{
    display: none;
    flex-direction: row;

    justify-content: space-between;
    height: 25px;
    font-size: 1em;
  
    text-decoration: none;
    color:#e8eaed;
    text-align: center;
    
}

.nav-link{
    text-decoration: none;
    color:#e8eaed !important;
}

.nav-link:hover{
  text-decoration: none;
  color:#a0a1a3 !important;
}

.flex-1{
  flex: 1 1 0;
}

.flex-3{
  flex: 2 1 0;
}

.flex-row-container{
  display: flex;
  flex-direction: row;

  object-fit: contain;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
  color: white;
}

.flex-bio-row-container{
  display: flex;
  flex-direction: row;
  object-fit: contain;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
  padding: 50px;
}

.flex-column-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  
  text-align: center;
  align-items: center;
  background-color: transparent;

}

.flex-column-card-2{
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 80vw;
  padding: 10px;
  text-align: center;
  align-items: center;
  background-color: white;
  color: black;
  margin: 10px;
  border-radius: 10px;
  vertical-align: middle;
}


.flex-column-card-bio{
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  flex: 0 0 100%;
  width: 100%;
  max-width: 100vw;
  padding: 10px;
  text-align: center;
  align-items: center;

  vertical-align: middle;
}

.flex-item{
  flex-grow: 0;
}

.flex-index-item{
  width: 100%;
}
.flex-item-full{
  justify-content: center;
  text-align: center;
  margin-top: 5vh;
  width: 100%;
  color: white;
}

.flex-item-full-dfm{
  justify-content: center;
  text-align: center;
  margin-top: 5vh;
  padding: 10px;
  width: 100%;
  color: white;
  background-color: rgb(255, 255, 255);

}

.full-image{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.bio-full-image{
  height: 150vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-image{
  height: 200vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verse-image{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-flex-verse{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.mission-verse{
  color:white;
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
 
}

.mission-verse-reference{
  color:white;
  font-weight: bolder;
  font-size: 1em;
}

.give-bold{
  font-weight: bolder;
  font-size: 1em;
}

.bottom-margin-b-20x{
  margin-bottom: 20px;
}

.family_img{
  border-radius: 5px;
  height: 55vh;
}
 
.image-object-fill{

  height: 100%;
  width: 100%;
}

.img-standard-size{
  height: 50%;
  width:  50%;
}

.img-DFM-logo{
 
  width: 95%;
}
.gatsbyMainContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}


.mission-goal{
  display: flex;
  width: 60vh;
  height: 95%;
  flex-direction: column;
  object-fit: contain;
  flex: 0 0 75%;
  justify-content: space-evenly;
  align-items: center;
  color:white;
  font-size: 0.8em;
  text-align:center;
}

.mission-goal-wrapper{
  padding: 20px;
  background-color: rgba(209, 94, 40, 0.507);
  border-radius: 10px;
}

/* Images Hack */


.family_train{
  background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/Family_Union_Pacific.jpg');
}

.kids{
  background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/Cassie_Gideon.jpg');
}

.img_0276{
  background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/unadjustednonraw_thumb_1ce5.jpg');
  background-size: 100% 100vh;
  background-position: top;
  background-repeat: no-repeat;
}



.img_0785{
  background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/IMG_0785.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.img_1082{
  background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/IMG_1082.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.img_2576{
  background-color: black;
  background-size: 100% 100vh;
  background-position: top;
  background-repeat: no-repeat;
}

.SDH_8427{
  background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/SDH_8427.jpg');
}
  footer{
      margin-top: auto;
  }

  main{
      flex: 1 0 auto;
  }


 
  @media only screen and (min-width: 780px) {

    .mobile-hidden{
      visibility: visible;
      display: inline;
      color: white;

    }

    .qr-code{
      width: 15%;
      height: 15%;
      display: inline;
      color: white;
      visibility: visible;
    }

    .dfm-text{
      padding: 5px 75px;
    }
    


    html {
      font-size: 100%;
    }

    body {
      margin: 0;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: hsla(0, 0%, 0%, 0.8);
      background-color: black;
      font-family: georgia, serif;
      font-weight: normal;
      word-wrap: break-word;
      font-kerning: normal;
      -moz-font-feature-settings: "kern", "liga", "clig", "calt";
      -ms-font-feature-settings: "kern", "liga", "clig", "calt";
      -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
      font-feature-settings: "kern", "liga", "clig", "calt";
  
      font-size:1em;
      
    }
  
  .hero-flex-container{
    padding: 0px;
    height: 100vh;
   
  }
  
  .hero-image{
      display: flex;
      background-attachment: fixed;
      flex-direction: column;
      background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/Hero_Image.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      z-index: 1;
      padding: 50px;
      text-align: center;
      justify-content: flex-start;
      align-items: space-around;
    }
  
  .hero-image-two{
      display: flex;
      background-attachment: fixed;
      flex-direction: column;
      background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/women-1.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      z-index: 1;
      padding: 50px;
      text-align: center;
      justify-content: flex-start;
      align-items: space-around;
  }
  
  .hero-image-three{
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/SDH_8427.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: 1;
    padding: 50px;
    text-align: center;
    justify-content: flex-start;
    align-items: space-around;
  }
  
  .hero-big-text{
      font-size: 2em;
      color: white;
  }
  
  .hero_text{
      font-size: 1.5em;
      color: white;
  }
  
  .hero-text-bold{
    font-weight: bolder;
  }
  
  .hero_nav{
      display: flex;
      flex-direction: row;
  
      justify-content: space-between;
      height: 25px;
      font-size: 1em;
    
      text-decoration: none;
      color:#e8eaed;
      text-align: center;
      
  }
  
  .nav-link{
      text-decoration: none;
      color:#e8eaed !important;
  }
  
  .flex-1{
    flex: 1 1 0;
  }
  
  .flex-3{
    flex: 2 1 0;
  }
  
  .flex-row-container{
    display: flex;
    flex-direction: row;
  
    object-fit: contain;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
  }
  
  .flex-bio-row-container{
    display: flex;
    flex-direction: row;
    object-fit: contain;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
    padding: 50px;
  }
  
  .flex-item{
    flex-grow: 0;
  }
  .flex-item-full{
    justify-content: center;
    text-align: center;
    margin-top: 5vh;
    width: 100%;
    color: white;
  }
  
  .flex-item-full-dfm{
    justify-content: center;
    text-align: center;
    margin-top: 5vh;
    padding: 10px;
    width: 100%;
    color: white;
    background-color: rgb(255, 255, 255);
  
  }
  
  .full-image{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .mission-image{
    height: 200vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .verse-image{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mission-flex-verse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 150px;
  }
  
  .mission-verse{
    color:white;
    font-style: italic;
    font-weight: bold;
    font-size: 1em;
   
  }
  
  .mission-verse-reference{
    color:white;
    font-weight: bolder;
    font-size: 1em;
  }
  
  .give-bold{
    font-weight: bolder;
    font-size: 1em;
  }
  
  .bottom-margin-b-20x{
    margin-bottom: 20px;
  }
  
  .family_img{
    border-radius: 5px;
    height: 55vh;
  }
   
  .image-object-fill{
  
    height: 100%;
    width: 100%;
  }
  
  .img-standard-size{
    height: 50%;
    width:  50%;
  }
  
  .img-DFM-logo{
   
    width: 95%;
  }
  .gatsbyMainContainer{
      min-height: 100vh;
      display: flex;
      flex-direction: column;
  
  }
  
  
  .mission-goal{
    display: flex;
    width: 60vh;
    height: 75%;
    flex-direction: column;
    object-fit: contain;
    flex: 0 0 75%;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    font-size: 1em;
    text-align:center;
  }
  
  .mission-goal-wrapper{
    padding: 20px;
    background-color: rgba(209, 94, 40, 0.507);
    border-radius: 10px;
  }
  
  /* Images Hack */
  
  
  .family_train{
    background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/Family_Union_Pacific.jpg');
  }
  
  .kids{
    background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/Cassie_Gideon.jpg');
  }
  
  .img_0276{
    background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/unadjustednonraw_thumb_1ce5.jpg');
    background-size: 100% 100vh;
    background-position: top;
    background-repeat: no-repeat;
  }
  
  
  
  .img_0785{
    background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/IMG_0785.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
  }
  
  .img_1082{
    background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/IMG_1082.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
  }
  
  .img_2576{
    background-color: black;
    background-size: 100% 100vh;
    background-position: top;
    background-repeat: no-repeat;
  }
  
  .SDH_8427{
    background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/SDH_8427.jpg');
  }
    footer{
        margin-top: auto;
    }
  
    main{
        flex: 1 0 auto;
    }

    .flex-column-card{
      flex-direction: column;
      justify-content: center;
      color: white;
      width: 40%;
      padding: 10px;
      text-align: center;
      align-items: center;
      color: white;
    }

    .flex-column-card-2{
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      max-width: 20vw;
      padding: 10px;
      text-align: center;
      align-items: center;
      background-color: white;
      color: black;
      margin: 10px;
      border-radius: 10px;
      vertical-align: middle;
    }

    .flex-column-card-bio{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      flex: 1 0 50%;
      width: 100%;
      min-width: 25vw;
      font-size: 1em;
      padding: 10px;
      text-align: center;
      align-items:center;
    
    }

    .flex-item-full-dfm{
      justify-content: center;
      text-align: center;
      margin-top: 5vh;
      padding: 30px;
      width: 100%;
      color: white;
      background-color: rgb(255, 255, 255);
    
    }

    
    .hero-image-three{
      display: flex;
      background-attachment: fixed;
      flex-direction: column;
      background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/Family_Union_Pacific.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100vw;
      z-index: 1;
      padding: 50px;
      text-align: center;
      justify-content: flex-start;
      align-items: space-around;
    }
    

    .img-DFM-logo{
 
      width: 60%;
    }

   
    .hamburger{
      display: none;
    } 

    .nav-mobile{
      display: none;
    }

    .mobile-container{
      display: none;
    }
  }
