/* Wrappers */

.rsvp-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(29,93,58, 0.507);
    text-align: center;
    color:white;
    border-radius: 10px;
    width: 50vh;
    height: 90vh;
    justify-content: center;
  
  }

  .when-and-where-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(29,93,58, 0.507);
    text-align: center;
    color:white;
    border-radius: 10px;
    width: 50vh;
    height: 60vh;
    justify-content: center;
  
  }

.white-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(29,93,58, 0.507);
    text-align: center;
    color:white;
    border-radius: 10px;
    width: 50vh;
    height: 50vh;
    justify-content: center;
    
  }
  
  .verse-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: rgba(4,76,38, 0.507);
    text-align: center;
    color:white;
    border-radius: 10px;
    width: 60vh;
    height: 90vh;
  }

  .our-story-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: rgba(4,76,38, 0.507);
    text-align: center;
    color:white;
    border-radius: 10px;
    width: 60vh;
    height: 80vh;
  }

  
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: rgba(4,76,38, 0.507);
    text-align: center;
    color:white;
    border-radius: 10px;
    width: 60vh;
    height: 70vh;
  }

  

/* Section Styles */


.our-story{
    background: linear-gradient(rgba(153, 163, 162, 0.50),rgba(153,163,162, 0.30)), url('../images/simp.jpg');
    height: 100vh;
    background-size: cover;
  }
  
.when-and-where{
    background: linear-gradient(rgba(153, 163, 162, 0.50),rgba(29,93,59, 0.30));
    height: 100vh;
    background-size: cover;
  
  }
  
.rsvp{
    background: linear-gradient(rgba(153, 163, 162, 0.50),rgba(153,163,162, 0.30)), url('../images/modified_fence.png');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
  }
  
.registry{
    background: linear-gradient(rgba(153, 163, 162, 0.50),rgba(153,163,162, 0.30));
    height: 100vh;
    
    background-size: cover;
  }
  
.verse-section{
    background: linear-gradient(rgba(153, 163, 162, 0.50),rgba(153,163,162, 0.30)), url('../images/coffee.jpg');
    height: 150vh;
    background-size: cover;
   
    background-position: center;
  }
  
.SDH_8427{
    background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/SDH_8427.jpg');
  }