@media only screen and (min-height: 801px) {

  .btn-font{
    font-size: 1.5em;
    font-weight: 500;
  }


p{
    font-size: 1.5em;
    font-weight: 500;
 
}

h2{
    font-size: 2.8em;
}

h3{
    font-size: 2.5em;
}

.icon-cross{
    height: 5em;
    width: 5em;
    object-fit: contain;
    margin: 0 auto;
    display: block;
  
  }
  
  .icon{
    height: 6em;
    width: 6em;
    object-fit: fit;
    margin: 0 auto;
    display: block;
  
  }



 
/* Wrappers */

.rsvp-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(29,93,58, 0.507);
    text-align: center;
    color:white;
    border-radius: 10px;
    width: 50vh;
  
    justify-content: center;
  
  }

  .when-and-where-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(29,93,58, 0.507);
    text-align: center;
    color:white;
    border-radius: 10px;
    width: 50vh;
  
    justify-content: center;
  
  }

.white-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(29,93,58, 0.507);
    text-align: center;
    color:white;
    border-radius: 10px;
    width: 30vw;
   
    justify-content: center;
    
  }
  
  .verse-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: rgba(4,76,38, 0.507);
    text-align: center;
    color:white;
    border-radius: 10px;
    width: 70vw;
   
  }

  .our-story-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: rgba(4,76,38, 0.507);
    text-align: center;
    color:white;
    border-radius: 10px;
    width: 70vw;
    
    overflow: auto;
  }

  
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: rgba(4,76,38, 0.507);
    text-align: center;
    color:white;
    border-radius: 10px;
    width: 60vh;
    height: 70vh;
  }

  

/* Section Styles */

.hero-location-time{
  display: flex;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('../images/sneak_attack.jpg');
  background-attachment: fixed;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 0;
  padding: 50px;
  margin-bottom: 50px;
  text-align: center;
  justify-content: flex-start;
  align-items: space-around;
}



.our-story{
    background: linear-gradient(rgba(153, 163, 162, 0.50),rgba(153,163,162, 0.30)), url('../images/simp.jpg');
    z-index: 0;
    height: 110vh;
    background-size: cover;
    overflow: auto;
  }
  
.when-and-where{
    background: linear-gradient(rgba(153, 163, 162, 0.50),rgba(29,93,59, 0.30));
    height: 100vh;
    background-size: cover;
    overflow: auto;
  
  }
  
.rsvp{
    background: linear-gradient(rgba(153, 163, 162, 0.50),rgba(153,163,162, 0.30)), url('../images/modified_fence.png');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    overflow: auto;
  }
  
.registry{
    background: linear-gradient(rgba(153, 163, 162, 0.50),rgba(153,163,162, 0.30));
    height: 100vh;
    
    background-size: cover;
    overflow: auto;
  }
  
.verse-section{
    background: linear-gradient(rgba(153, 163, 162, 0.50),rgba(153,163,162, 0.30)), url('../images/coffee.jpg');
    height: 150vh;
    background-size: cover;
   
    background-position: center;
    overflow: auto;
  }
  
.SDH_8427{
    background: linear-gradient(rgba(70, 70, 70, 0.507),rgba(70, 70, 70, 0.507)), url('../images/SDH_8427.jpg');
  }


}

  